<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnesstracker.test">

    <application>
        <activity android:name="com.example.fitnesstracker.ui.training.TestActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>
</manifest>
